body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrolling */
    background: url("img/starrybackground.jpg");
    

}
.fullbody {
    color:white;
    height:100vh;
    width:100vw;
    position:relative;
}
#welcomecontainer{
    text-align:center;
    width:100vw;
    margin-top:100px;
    margin-bottom:100px;
}

.instrument-sans-stuff {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400; /* Change this to 500, 600, or 700 as needed */
    font-style: normal;
}
h1, h2 {
    font-weight: inherit;
}
#studentteachercontainer{
    width:100vw;
}
.studentteacher{
    text-align: center;
    margin-bottom:50px;
    font-size:20px;
}

#stbuttons{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
#homebut, #backbut{
    width:50px;
    height:auto;
}
#homebut:hover,#backbut :hover{
    cursor: pointer;
}
#homebut{
    position:fixed;
    right:50px;
    top:50px;
}
#backbut{
    position:fixed;
    left:50px;
    top:50px;
}
.studentteacherbut{
    padding: 30px 100px 30px 100px;
    font-size:30px;
    border-radius:30px;
    margin-top:10px;
    margin-bottom:10px;
    border:none;
}
#welcome{
    font-size:50px;
}

@media (max-height: 865px) and (max-width:905px), (max-width:730px){
    #backbut, #homebut{
        bottom:50px;
        top:auto;
        z-index:3;
    }
}
@media(max-width:918px){
    #weirdpath{
        visibility:hidden;
    }
}
@media (max-width:490px){
    .studentteacherbut{
        padding: 20px 70px 20px 70px;
    }
    #welcome{
        font-size:40px;
    }
}
.studentbut{
    margin-left:100px;margin-right:50px;color:#fff;background-color: #9b1f17;
    z-index:2;

}
.studentbut:hover, .teacherbut:hover{
    cursor:pointer;
    background:linear-gradient(#c6abbd,#A28C9B);
}

.teacherbut{
    margin-right:100px;margin-left:50px;background-color:#1ebcc8; color:white;
    z-index:2;

}
.cloud {
    position: fixed;
    width:30%;
    height:auto;
}
.cloud1{
    bottom:0;
    left:0;
    z-index:1;
}
.cloud2{
    left: 50%;
    transform: translateX(-50%);
    bottom:0;
    width:70vw;
    height:auto;
    z-index: -1;
}
.cloud3{
    bottom:0;
    right:0;
}
.draw-path {
    animation: draw 20s linear infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 5095;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes fadeInLeft{from {
    opacity: 0;
    transform: translateX(-50px); /* Moves the page from the left */
}
to {
    opacity: 1;
    transform: translateX(0px);}}
@keyframes fadeInRight{from{
    opacity:0;
    transform: translateX(50px);
} to {
    opacity:1;
    transform:translateX(0px);
}}
@keyframes fadeInBottom{
    from{
        opacity:0;
        transform:translateY(50px) translateX(-50%)
    }
    to{
        opacity:1;
        transform:translateY(0px) translateX(-50%)
    }
}
.fade-in-left {
    animation: fadeInLeft 0.8s ease-out forwards;
}
.fade-in-right{
    animation: fadeInRight 0.8s ease-out forwards;
}
.fade-in-bottom{
    animation: fadeInBottom 0.8s ease-out forwards;
}
.fade-in{
    animation:fadeIn 0.8s ease-out forwards;
}
